@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono", serif;
}

body {
    background-color: #782963 !important ;
}

/* navbar */
.navbar {
    background-color: #0e4e7a;
    border-bottom: 5px solid #372549
    
}

a.navbar-brand {
    color: white;
}

a.nav-link {
    color: white;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .nav-link {
        color: black; 
    }
}

a.nav-link:hover {
    color: #1ea2cd;
}

a.nav-link.active {
    color: white;
}

.navbar-toggler-icon {
    filter: invert(2); 
}

/* navbar */

.card {
    margin: 20px;
}

.card-body {
    color: black !important;
}

.title {
    text-align: center;
    margin: 20px; /* Ensures the title is centered horizontally */
}


.project-img {
    max-width: 100%; /* Ensures it remains responsive */
    height: auto;
    border: 1px solid #782963;
    border-radius: 5px;
}

/* Adjust image size on larger screens */
@media (min-width: 992px) { /* Large screens like desktops */
    .project-img {
        width: 400px; /* Set a fixed width for larger screens */
        max-width: 100%; /* Ensures it doesn't overflow */
    }
}

@media (min-width: 500px) and (max-width: 991px) { /* Medium screens like tablets */
    .project-img {
        width: 300px; /* Adjust width for medium screens */
        max-width: 100%; /* Ensures it doesn't overflow */
    }
}