@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono", serif;
}

body {
    background-color: #2e2d2d !important ;
}

/* navbar */
.navbar {
    background-color: black;
    border-bottom: 5px solid #fb1264;
    
}

a.navbar-brand {
    color: white;
}

a.nav-link {
    color: white;
}
a.nav-link:hover {
    color: #ff206e;
}

a.nav-link.active {
    color: white;
}

.navbar-toggler-icon {
    filter: invert(2); 
}

/* navbar */

/* main */



/* welcome square */
.welcome {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 100px; 
    height: 100vh;
    background-image: url('./img/background.jpg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
}

.card {
    max-width: 100%; 
    background-color: #41ead4; 
    margin: 20px;
    box-shadow: 5px 5px 8px 5px lightgray !important;
}





.welcome, .row {
    overflow-x: hidden; 
}


#N {
    background-color: #fbff12;
}


.tech_icons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
    justify-content: center; 
}

.icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 80px; 
}

.techh2 {
    margin-bottom: 30px;
}

/* buttons */

.social {
   
    margin-top: 30px;
}

.buttons {
    padding-top: 30px;
    display: flex;
    gap: 70px; 
    justify-content: center;
    font-size: 16px;
    
}

.github:hover, .linkedin:hover {
    background-color: #ff4a8c; 
}

.github {
    background-color: #ff206e;  
    padding: 15px 25px; 
}

.linkedin {
    background-color: #ff206e;
    padding: 15px 25px; 
}
/* buttons */

/*projects*/
#projects1 {

padding: 10px;
border-radius: 5px;
margin: 30px;

height: 100px;



box-shadow: 5px 5px 8px 5px rgb(146, 146, 144) !important;
}

.center-container {
    text-align: center; /* Centers child elements */
}


#header {
    background-color: #fbff12;
    display: inline-block;
    justify-content: center;
    padding: 5px;
}
.projects {
    margin: 30px;
    position: relative;
    background-color: #41ead4;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #0a9a87;
    box-shadow: lightgray;
    box-shadow: 6px 6px 6px 6px rgb(185, 185, 185) !important;
}

/*media*/
@media (max-width: 991px) {
    .offcanvas-body .nav-link {
        color: black; 
    }

    .offcanvas-body .nav-link:hover {
        color: black; 
    }

}

/* projects */
/*about*/
.about {
    background-color: #41ead4;
    margin: 30px;
    border-radius: 5px;
    border: #0a9a87 2px solid;
}


/*--footer---*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: white;
    padding-block: 40px 60px;
}

.middle-footer .footer-menu {
    display: flex;
}

.footer_menu_list {
    list-style: none;
}

.footer_menu_list a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-inline: 20px;
}

.footer_menu_list a:hover {
    color: #8749f2
}

.footer-social-icons {
    display: flex;
    gap: 30px;
    color: rgb(50, 46, 46);
}

.bottom-footer {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(50, 46, 46);
}
/*--footer---*/



    











